h1 {
  text-align: center;
  color: White;
  font-family: Georgia, sans-serif;
}
h2 {
  /*white-space: nowrap;*/
  text-align: center;
  color: White;
  font-family: Georgia, serif;
}

p {
  text-align: center;
  white-space: nowrap;
}

a {
  text-align: center;
  color: White;
  font-family: sans-serif;
  font-size: 250%;
  text-decoration: none;
}
img {
  width: 400px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}
